BETTER_AUTH_SECRET=auth_secret
BETTER_AUTH_BASE_URL=/auth
RESEND_API_KEY=re_api_key
DATABASE_URL=postgresql://postgres:password@localhost:8090/db
APP_URL=http://localhost:8010
API_URL=http://localhost:8000